.door {
   position: absolute;
   /* background-color: #add8e68e; */
   opacity: 0;
}

.door:hover {
   background-color: #c1d7df8e;
   box-shadow: 0px 0px 10px 10px #c1d7df8e;
   cursor: pointer;
   opacity: 0.7;
   transition: opacity 0.2s ease-in-out;
}

.doorHidden:hover {
   opacity: 0.1;
   cursor: default;
}