.mazePage {
  position: relative;
  display: flex;
  max-width: 100vw;
  align-items: center;
  flex-direction: column;
  padding: 0 1.6rem;
}

.mazePage img {
  width: 100%;
  object-fit: cover;
}

.mazeDivision {
  height: 0.2rem;
  background-color: rgb(179, 179, 179);
  width: 80%;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  max-width: 70rem;
}

.mazeImage {
  position: relative;
  min-height: 275px;
}

.mazeImage__reduced source,
.mazeImage__reduced img {
  max-height: 80vh;
}

.pageTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.pageText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem 0;
  font-size: 1.4rem;
  max-width: var(--page-text-max-width);

  p {
    margin: 0.7rem 0;
  }
}
