#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}

.app {
  display: flex;
  background-color: rgb(32, 32, 32);
  border-radius: 0.5rem;
  flex-direction: column;
  padding-bottom: 8rem;
}
